@model AscomPayPG.Models.ViewModels.GatewayViewModel;

@{
    ViewData["Title"] = "Gateway Options";

    bool isErrorPage = ViewBag.Succeeded;
    string btnText = $"Proceed";
}
<div class="bg-light h1 p-2">@ViewData["Title"]</div>

@if (!isErrorPage)
{
    <div class="my-2">
        <div class="text-danger p-2" style="background-color: #f3d8d8;">@ViewBag.Message</div>
        <div class="mt-2 text-danger p-2">
            <a href="@Model.CallbackURL" class="italic btn btn-outline-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-caret-left-fill text-warning" viewBox="0 0 16 16">
                    <path
                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg>
                Return to Client Page</a>
        </div>
    </div>
}
else
{
    <div class="bg-light p-3">
        <div class="row fs-6 p-2 fst-italic text-danger">@Model.Description</div>
        <div class="row">
            <form class="form-horizontal" method="post" asp-action="PostGateway">
                <div class="form-group row">
                    @* <label class="col-sm-2 col-form-label" asp-for="@Model.GatewayId"></label> *@
                    <div class="col-sm-12 col-md-6">
                        <select class="form-control flex-1 w-full " asp-for="@Model.GatewayId"
                        asp-items="Model.GatewayOptions">
                        </select>
                    </div>
                    <span class="col-sm-4 text-danger" asp-validation-for="@Model.GatewayId"></span>
                </div>
                <div class="form-group row hidden" hidden>
                    <label class="col-sm-2 col-form-label" asp-for="@Model.TransactionId"></label>
                    <div class="col-sm-6">
                        <input readonly asp-for="@Model.TransactionId" type="text" class="form-control">
                    </div>
                    <span class="col-sm-4 text-danger" asp-validation-for="@Model.TransactionId"></span>
                </div>
                <div class="form-group row mt-2">
                    @* <label class="col-sm-2 col-form-label"></label> *@
                    <div class="col-sm-12 col-md-6">
                        <button type="submit" class="btn btn-warning text-white w-50 fs-4">@btnText</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
